<h1>Welcome</h1>
<% if logged_in? %>
    <h2>You are Logged In, <%= current_user.username %></h2>
    <%= link_to "Log Out", logout_path %>
    <% else %>
    <%= button_to "Sign Up", '/users/new', method: :get %>
    <%= button_to "Log In", '/login', method: :get %>
<% end %>
<br>